screenshots/chrome - Captura1.png
screenshots/chrome - Captura2.png
screenshots/chrome - Captura3.png
screenshots/chrome - Captura4.png
allure-results/3cbdbc02-8e4d-4bca-a40b-f5484ff9fa50-testsuite.xml
allure-results/28b72a28-0558-4ee5-ac98-fb25104c7ac7-attachment.png
allure-results/f0adecb6-9c36-46c6-969d-e5d6b9b38728-attachment.png
